@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500;700&family=Raleway:wght@200&display=swap');
body {
    background-image: url('sources/BG.png');
    font-family: Raleway, serif;
    background-size: cover;
    background-position: top;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}
.catalog {
    width: 31.5%;
    height: 4.3%;
    font-family: Raleway, serif;
    color: white;
    position: absolute;
    font-size: 50px;
    left: 3.5%;
    display: flex;
    align-items: center;
    text-align: center;
}
.titles{
    width: 31.5%;
    height: 4.3%;
    font-family: Raleway, serif;
    color: white;
    position: absolute;
    font-size: 50px;
    left: 3.5%;
    display: flex;
    align-items: center;
}
.navbar {
    position: absolute;
    top: 12%;
    left: 3.5%;
    flex: 1;
    width: 90%;
    display: flex;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 2px;
    text-align: center;
    padding: 10px;
}
.navbar a {
    font-size: xx-large;
    color: white;
    font-family: Raleway, serif;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    transition: transform 50ms;
}

.navbar a:hover{
    transform: scale(1.05);
    font-family: Raleway, serif;
    font-weight: bold;
    color: white;
}

.searchBar {
    position: absolute;
    width: 320px;
    height: 48px;
    left: 25%;
    top: 3%;
}

.searchBar .input {
    font-family: Raleway, serif;
    font-size: 38px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 10px;
    z-index: 1;
}

.button {
    border: none;
    background: url("sources/search.svg") no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 130%;
    top: 8px;
    display: flex;
    align-items: center;
    transition: transform 100ms ease-in-out;
}

.button:hover{
    transform: scale(0.95);
}

.button:active {
    transform: scale(0.8);
}

.searchBar .input::placeholder {
    font-family: Raleway, serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.2);
}

.questions {
    border: solid red;
    text-align: left;
    border-collapse: separate;
}

.actions {
    background-color: rgba(217, 217, 217, 0.8);
    width: 95%;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 30%;
    border-radius: 10px;
    transform: translate(-50%, -32%);
}

.actions h1{
    justify-items: center;
    text-align: center;
    font-size: 3em;
}

.products {
    border-radius: 10px;
    width: 95%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 90%;
    border-radius: 10px;
    transform: translate(-50%, -70%);
}

.First {
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 10px;
    display: flex;
    width: 45%;
    height: 100%;
    float: left;
    align-items: flex-start;
    text-align: center;
    font-size: 38px;
    margin-bottom: 10px;
}

.First:hover {
    background-color: rgba(217, 217, 217, 0.8);
}

.Second {
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 10px;
    display: flex;
    width: 45%;
    height: 100%;
    float: right;
    align-items: flex-start;
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px;
}

.Second:hover {
    background-color: rgba(217, 217, 217, 0.8);
}

.Third {
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 10px;
    display: flex;
    width: 45%;
    height: 100%;
    float: left;
    align-items: flex-start;
    text-align: center;
    font-size: 48px;
}

.Third:hover {
    background-color: rgba(217, 217, 217, 0.8);
}

.Fourth {
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 10px;
    display: flex;
    width: 45%;
    height: 100%;
    float: right;
    align-items: flex-start;
    text-align: center;
    font-size: 48px;
}

.Fourth:hover {
    background-color: rgba(217, 217, 217, 0.8);
}