@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500;700&family=Raleway:wght@200&display=swap');
body {
    background-image: url('sources/BG.png');
    font-family: Raleway, serif;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
.catalog {
    width: 31.5%;
    height: 4.3%;
    font-family: Raleway, serif;
    color: white;
    position: absolute;
    font-size: 50px;
    left: 3.5%;
    display: flex;
    align-items: center;
}
.navbar {
    position: absolute;
    top: 12%;
    left: 3.5%;
    flex: 1;
    width: 90%;
    display: flex;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 2px;
    text-align: center;
    padding: 10px;
}
.navbar a {
    font-size: xx-large;
    color: white;
    font-family: Raleway, serif;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
}

.navbar a:hover{
    font-family: Raleway, serif;
    font-weight: bold;
    color: white;
}

.searchBar{
    color: white;
    font-family: Raleway, serif;
    width: 45%;
    height: 46px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 35%;
    top: 3%;
    font-size: 28px;
    border: 3px solid white;
    border-radius: 5px;
}

.searchBar.icon{
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 28px;
    text-align: center;
    left: 80%;
    top: 0%;
    border: 0px;
}
.questions{
    border: solid;
    border-color: red;
    text-align: left;
    border-collapse: separate;
